@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Roboto:ital,wght@1,900&family=Rubik+Maps&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Fjalla+One&family=Lobster&display=swap');


body{
    background: url(../images/last\ background.jpg);
    background-size: 100%;
    min-height: 0 auto;
    max-width: 800%;
    min-width:  0 auto;  
    overflow-x: hidden;

}
